[submodule "bundle/ack"]
    path = bundle/ack
    url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = git://git.wincent.com/command-t.git
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/gist"]
    path = bundle/gist
    url = git://github.com/mattn/gist-vim.git
[submodule "bundle/pep8"]
    path = bundle/pep8
    url = git://github.com/nvie/vim-pep8.git
[submodule "bundle/pyflakes"]
    path = bundle/pyflakes
    url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/snipmate"]
    path = bundle/snipmate
    url = git://github.com/garbas/snipmate.vim.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "src/pyflakes"]
	path = src/pyflakes
	url = git://github.com/kevinw/pyflakes.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/showmarks"]
	path = bundle/showmarks
	url = git@github.com:garbas/vim-showmarks.git
