[submodule "src/pyflakes"]
	path = src/pyflakes
	url = git://github.com/kevinw/pyflakes.git
[submodule "src/pep8"]
	path = src/pep8
	url = git://github.com/jcrocholl/pep8.git
[submodule "addons/vim-addon-manager"]
	path = addons/vim-addon-manager
	url = git://github.com/MarcWeber/vim-addon-manager.git
